body {
  /* other styles for the body element */
  background-image: url('./images/space.jpeg'); /* Add the background image */
  /*background-size: cover; /* Scale the image to cover the entire body element */
  /*background-position: center; /* Position the image in the center of the body element */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  max-width: 100%;
  height: auto;
  color:#fff
}

.icons{
    width: 25px;
    height:25px;
    float: left;
    padding-top: 5px;
  }
  .nav-item {
    flex: 1;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }
  #login {
    display: none;
  }

  #loggedin {
    display: none;
  }

  
  
  
  nav > ul {
    list-style: none; /* Remove the default bullet points from the list */
    color: white;
    width:200px;
  }
  
  li {
    margin-bottom: 30px; /* Add some space between the menu items */
    font-family: 'Seymour One', sans-serif;
    font-size: x-large;

  }
  
  a {
    display: block; /* Make the links block-level elements to fill the entire width of the list item */
    text-decoration: none; /* Remove the default underline from the links */
    color: #fff;
    font-family: 'Seymour One', sans-serif;

  }
  
p  {
  display: block; /* Make the links block-level elements to fill the entire width of the list item */
  padding: 10px; /* Add some padding to the links */
  text-decoration: none; /* Remove the default underline from the links */
  color: #fff;
  font-family: 'Seymour One', sans-serif;

}
  a:hover, li:hover {
    background-color: rgb(110, 95, 95); /* Change the background color of the links when hovered over */
    border-radius: 1px;
  }
  
  #search-container {
    position: relative;
    z-index: 3;
    display: flex;
    margin: auto;
    justify-content: center;
  }
  
  #search-input {
    width: 40%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 16px;
    margin-block: 80px;
  }
  
  #search-button {
    width: 10%;
    height: 40px;
    background-color: rgb(59, 59, 74);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-block: 80px;
  }
  
  #search-button:hover {
    background-color: #006305;
  }

  #dagens {
    width: 100%;
  border: 1px solid rgb(255, 255, 255);
  }


  #field {
    background-color: #ccc;
    width:200px;
    height:200px;
  }

  #AstronomiDag {
    position: relative;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 600px;
    background-color: rgb(99, 100, 100);
  }

  #content{
    display: flex;
    align-items: flex-start;
  }


#tableContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


  #imgTable {
    width: 400px;
    background: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 2%;
    margin-right: 20%;
    border-radius: 10px;

  }
  #imgTable tbody {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  #imgTable th {
    border-bottom: 1px solid gray;
    width: 50%;
    height: 50%;
    font-weight: bold;
    padding: 0.5rem;
    color:black
  }

  #imgTable img {
width:100px;
height:100px;
border-radius: 5px;
  }

  #imgTable td {
    border-bottom: 1px solid rgb(114, 94, 94);
    width:50%;
    color:black
  }

  tr {
    width:50px;

  }
  #tracksTable tbody {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .img-table{
    width: 100px;
    height: 100px;
}
  

#nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

div > button{
    background-color: rgb(59, 59, 74);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
  }
    