body {
  
  font-family: 'Nunito', sans-serif;
  /* other styles for the body element */
  background: url(images/planets_universe_17-wallpaper-1920x1080.jpg); /* Add the background image */
  /*background-size: cover; /* Scale the image to cover the entire body element */
  /*background-position: center; /* Position the image in the center of the body element */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  height: auto;
  color:#fff

}

.topnav {
  overflow: hidden;
  background-color: unset;
}

.topnav a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: royalblue;
  color: white;
}

.icons{
    width: 25px;
    height:25px;
    float: left;
    padding-top: 5px;
  }
  .nav-item {
    flex: 1;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }
  #login {
    display: none;
  }

  #loggedin {
    display: none;
  }

  
  
  
  nav > ul {
    list-style: none; /* Remove the default bullet points from the list */
    color: white;
    width:200px;
  }
  
  li {
    margin-bottom: 30px; /* Add some space between the menu items */
    font-family: 'Seymour One', sans-serif;
    font-size: x-large;

  }
  
  a {
    display: block; /* Make the links block-level elements to fill the entire width of the list item */
    text-decoration: none; /* Remove the default underline from the links */
    color: #fff;
    font-family: 'Seymour One', sans-serif;

  }
  
p  {
  display: block; /* Make the links block-level elements to fill the entire width of the list item */
  padding: 10px; /* Add some padding to the links */
  text-decoration: none; /* Remove the default underline from the links */
  color: #fff;
  font-family: 'Seymour One', sans-serif;

}
  a:hover, li:hover {
    background-color: rgb(110, 95, 95); /* Change the background color of the links when hovered over */
    border-radius: 1px;
  }
 
    .search-container{
      width: 100%;
      min-height: 60.5vh;
      padding: 5%;
     /* background-image: linear-gradient(rgba(0,8,51,0.9), rgba(0,8,51,0.9)), url(images/planets_universe_17-wallpaper-1920x1080.jpg);*/
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search-bar {
      width: 100%;
      max-width: 700px;
      background-color: rgb(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      border-radius: 60px;
      padding: 10px 20px;
      backdrop-filter: blur(4px) saturate(180%);
    }

    .search-bar input {
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      padding: 24px 20px;
      font-size: 20px;
      color: #cac7ff;
      
    }

    ::placeholder {
      color: #cac7ff;
    }

    .search-bar button img {
      width: 25px;
    }

    .search-bar button {
      border: 0;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background: #58629b;
      cursor: pointer;
    }
  /*
  #search-container {
    position: relative;
    z-index: 3;
    display: flex;
    margin: auto;
    justify-content: center;
  }
  
  #search-input {
    width: 40%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 16px;
    margin-block: 80px;
  }
  
  #search-button {
    width: 10%;
    height: 40px;
    background-color: rgb(59, 59, 74);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-block: 80px;
  }
  
  #search-button:hover {
    background-color: #006305;
  }
*/

 


  #field {
    background-color: #ccc;
    width:200px;
    height:200px;
  }

  

  #content{
    display: flex;
    align-items: flex-start;
  }


#tableContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


  #imgTable {
    width: 400px;
    background: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 2%;
    margin-right: 20%;
    border-radius: 10px;

  }
  #imgTable tbody {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  #imgTable th {
    border-bottom: 1px solid gray;
    width: 50%;
    height: 50%;
    font-weight: bold;
    padding: 0.5rem;
    color:black
  }

  #imgTable img {
width:100px;
height:100px;
border-radius: 5px;
  }

  #imgTable td {
    border-bottom: 1px solid rgb(114, 94, 94);
    width:50%;
    color:black
  }

  tr {
    width:50px;

  }
  #tracksTable tbody {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .img-table{
    width: 100px;
    height: 100px;
}
  



div > button{
    background-color: rgb(59, 59, 74);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
  }
    